{% extends "layout.twig" %}

{% block title %}SLIM Blog - Login{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ prefix }}/css/login/login.css">
{% endblock %}

{% block body %}
    <div class="col-sm-push-2 col-sm-6">
        <h1>Login</h1>
        <form>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <div class="text-right mb20px">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}